doctype html
html
  head
    title Dance academy
    
    block style
      
  body
    nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/contact") ContactUs]
            li #[a(href="/") Service]
            li #[a(href="/") About]
            li #[a(href="/") Help]
    block content
    footer#foot
        |Copyright © 2020 DanceAcademy.com | All Right Reserve